# Тема “Вычисления с помощью Numpy”

In [2]:
import numpy as np

## Задание 1

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [88]:
a = np.array([[1,2,3,3,1],[6,8,11,10,7]] )
a = a.transpose()
mean_a = a.mean(axis=0)
print(a)
print('Среднее значение по каждому признаку: ', mean_a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Среднее значение по каждому признаку:  [2.  8.4]

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. 
Получившийся массив должен иметь размер 5x2.

In [20]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

## Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться 
величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [89]:
a_centered_sp = a_centered[:,0] @ a_centered[:,1]
cov = a_centered_sp / (a_centered.shape[0]-1)
print('Ковариация:', cov)

Ковариация: 2.0

## Задание 4**
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - 
с помощью функции np.cov.
В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно 
элементу в строке с индексом 0 и столбце с индексом 1.

In [39]:
C = np.cov(a.transpose())
print(C)

[[1.  2. ]
 [2.  4.3]]

# Тема “Работа с данными в Pandas”

In [40]:
import pandas as pd

## Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id 
и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся 
данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [103]:
a = {
    "author_id":[1, 2, 3],
    "author_name":['Тургенев', 'Чехов', 'Островский']
}
authors = pd.DataFrame(a)
print('DataFrame authors:\n', authors, '\n')

b = {
    "author_id":[1, 1, 1, 2, 2, 3, 3], 
    "book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 
                  'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price":[450, 300, 350, 500, 450, 370, 290]   
}
book = pd.DataFrame(b)
print('DataFrame book:\n',book)

DataFrame authors:
    author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

DataFrame book:
    author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [102]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print('DataFrame authors_price:\n', authors_price)

DataFrame authors_price:
    author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [97]:
top5 = authors_price.nlargest(5, "price") 
print('DataFrame top5:\n', top5)

DataFrame top5:
    author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны 
быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги 
этого автора.

In [100]:
authors_stat = authors_price.groupby('author_name').price.agg(min_price = 'min', 
                                                              max_price = 'max', 
                                                              mean_price = 'mean')
print('DataFrame authors_stat:\n', authors_stat)

DataFrame authors_stat:
              min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, 
какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора 
посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. 
При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. 
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы 
book_info и book_info2 идентичны.

In [115]:
cover =  ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['cover'] = cover
print(authors_price, '\n')
book_info = pd.pivot_table(authors_price, index='author_name', columns='cover', 
                           values='price', aggfunc=np.sum, fill_value = 0,)
print('DataFrame book_info:\n', book_info)
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")
print('\nDataFrame book_info2:\n', book_info2)
print('\nСравнение DataFrame: book_info и book_info2\n', book_info2==book_info)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

DataFrame book_info:
 cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

DataFrame book_info2:
 cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

Сравнение DataFrame: book_info и book_info2
 cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True